<form action="/addstudent" method="POST">
    FirstName: <br>
    <input type="text" name="firstname" value="">
    <br>
    LastName: <br>
    <input type="text" name="lastname" value="">
    <br>
    Roll: <br>
    <input type="text" name="roll" value="">
    <br>
    Email: <br>
    <input type="text" name="email" value="">
    <br>
    Phone: <br>
    <input type="text" name="phone" value="">
    <br>
    password<br>
    <input type="text" name="password" value="">
    <br>
    <input type="submit" value="Submit">
</form>

