<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Complaint Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Complaint </span>Register</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="/">Home</a></li>
            <li><a href="/student">User</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/dash">Dashboard</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section>
      <div class="div-1">
        <p>
          They say people will always have something to complain about but then
          again, people won’t complain if they are satisfied with the service
          and the products. After all, they are paying for it.
        </p>

        <img src="./images/pic1.jpg" />
      </div>
      <div class="div-2">
        <img
          style="opacity: 0.5; width: 40%;
    height: 300px;;"
          src="./images/pic2.jpg"
          alt=""
        />
        <p class="text-image">
          This is a website for the complaints that would improve the hostels.
          We understand that sometimes things may go wrong. Never feel hesitant
          to make a complaint. Unsolicited and frivolous complaints should be
          avoided. Whenever the hosteller wishes the names shall not be
          disclosed.
          <br />
          <br />
          Filing a complaint may seem complicated, but it doesn't have to be.
          Just follow the simple steps described below and yes! You are almost
          done! :)

          <br />
          <br />
          just <a href="/student">click here...!</a>
        </p>
      </div>
    </section>
  </body>
</html>
