<form action="/addadmin" method="POST">
    UserNmae: <br>
    <input type="text" name="username" value="">
    <br>
    password<br>
    <input type="text" name="password" value="">
    <br>
    <input type="submit" value="Submit">
</form>

